[submodule "externals/FastMath"]
	path = externals/FastMath
	url = git@github.com:NJUCG/FastMath.git
[submodule "externals/stb"]
	path = externals/stb
	url = git@github.com:nothings/stb.git
[submodule "externals/json"]
	path = externals/json
	url = git@github.com:nlohmann/json.git
[submodule "externals/tinyobjloader"]
	path = externals/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
